<strong>Olá, {{deliveryman}}! </strong>
<p> Houve um cancelamento de uma encomenda que você iria realizar. Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong>{{ product }} <br>
  <strong>Para:</strong> {{name}} <br>
  <strong>Endereço: </strong> <br>
    {{ rua }}, {{numero}}, {{complemento}} <br>
    {{cidade}}, {{estado}} <br>
    {{cep}} <br>
  <br>
  <small>Obrigado pela comunição do problema. Até uma próxima!</small>
</p>
