<strong>Olá, {{deliveryman}}! </strong>
<p> Há uma nova encomenda para você entregar, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong>{{ product }} <br>
  <strong>Para:</strong> {{name}} <br>
  <strong>Endereço: </strong> <br>
    {{ rua }}, {{numero}}, {{complemento}} <br>
    {{cidade}}, {{estado}} <br>
    {{cep}} <br>
  <br>
  <small>A encomenda já está disponível para retirada.</small>
</p>
